<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1><%= msg %></h1>
	<%if(error){%>
		<% for (var i in error) { %>
			<p><span><%=i%></span><%=error[i]%></p>
		<%} %>
	<%} %>
</body>
</html>
