<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<div class="box">
  		
    <a href="/loginPage" class="fl">登陆</a>
    <a href="/registPage" class="fr">注册</a>
  	</div>
  </body>
</html>
